# Basic form of SELECT statement

```sql
SELECT [ALL | DISTINCT] {*|expression [, expression ...]} 
FROM table name
[WHERE conditions(s)]
[GROUP BY column name [, column name ...]
[HAVING conditions(s)]
[ORDER BY {column name |seq nr}{ASC|DESC}[,...]
```
- SELECT clause: specifies the columns to show in the ouput. DISTINCT filters out duplicate lines
- FROM clause: table name 
- WHERE clause: filter condition on individual lines in the output
- GROUP BY clause: grouping of data
- HAVING clause: filter condition on groups
- ORDER BY clause: sorting 

## SELECT clause: specification of the columns
- All columns from table: use *
```sql
SELECT *
```
- Specific columns: use columns names or expression
```sql
SELECT column1 , column2, column3*column4, …
```

Example: Show all data of all products

In [ ]:
SELECT *
FROM Products

Example: Show for all a products productID, name and unit price

In [ ]:
SELECT productid, productname, unitprice
FROM Products

## SELECT ... WHERE

WHERE clause: Specification of conditions for individual rows

Example: show productid, productname and unitprice of all products from category 1

In [ ]:
SELECT productid, productname, unitprice
FROM Products
WHERE categoryID = 1

**Use of literals**

- Numeric values: ... WHERE categoryID = 1
- Alphanumeric values: ... WHERE productName = 'Chai'
- Dates: ... WHERE orderDate = '4/15/1998' (15th april 1998)

**Conditions for rows**

- Comparison operators
- Wildcards
- Logical operators
- Interval of specific values
- List of values
- Unknown values
- Use brackets () to overrule priority rules and enhance readability

**Comparison operators**: =, \>, \>=, \<, \<=, \<\>

Example: Show productID, name, units in stock for all products with less than 5 units in stock

In [ ]:
SELECT productid, productname, unitprice
FROM Products
WHERE UnitsInStock < 5

Example: Show productID, name, units in stock for all products for which the name starts with A

In [ ]:
SELECT productid, productname, unitprice
FROM Products
WHERE productname >= 'A' AND productname < 'B'

**Wildcards (searching for patterns)**
- Always in combination with operator LIKE, NOT LIKE
- Wildcard symbols:
    - % --> arbitrary sequence of 0, 1  or more characters
    - _  --> 1 character
    - [ ] --> 1 character in a specified range
    - [^] --> every character not in the specified range

Example: Show productID and name of the products for which the second letter is in the range a-k

In [ ]:
SELECT productid, productname
FROM Products
WHERE productname LIKE '_[a-k]%'

**Logical operators**
- OR, AND, NOT   (ascending priority)

Example

In [ ]:
SELECT ProductID, ProductName, SupplierID, UnitPrice
FROM Products
WHERE ProductName LIKE 'T%' OR (ProductID = 46 AND UnitPrice > 16.00)

**Values in an interval**
- BETWEEN,  NOT BETWEEN

Example: Select the products (name and unit price) for which the unit price is between 10 and 15 euro (boundaries included)

In [ ]:
SELECT ProductName, UnitPrice
FROM Products
WHERE UnitPrice BETWEEN 10 AND 15

**List of values**
- IN, NOT IN

Example: Show ProductID, ProductName and SupplierID of the products supplied by suppliers with ID 1, 3 or 5

In [ ]:
SELECT ProductID, ProductName, SupplierID
FROM Products
WHERE SupplierID in (1,3,5)

**Test for unknown (or empty) values**

- IS NULL, IS NOT NULL
    - NULL values occur if no value has been specified for a column when creating a record
    - A NULL is not equal to 0 (for numerical values), blank or empty string (for character values)!
    - NULL fields are considered as equal (for e.g. testing with DISTINCT)
    - If a NULL value appears in an expression the result is always NULL

Example: Select suppliers from an unknown region

In [ ]:
SELECT CompanyName, Region
FROM Suppliers
WHERE Region IS NULL

Be careful with NULL!

Example: Be aware of the difference between the 2 following queries

In [ ]:
SELECT CompanyName, Region
FROM Suppliers
WHERE Region <> 'OR'

In [ ]:
SELECT CompanyName, Region
FROM Suppliers
WHERE Region <> 'OR' OR Region IS NULL

## SELECT … ORDER BY

**Sorting of data**
- ORDER BY clause
    - Sorting according to one or more sorting criteria
    - Each sorting criterion can be specified by either a column name, an expression or a sequence number that corresponds to the order of columns in the SELECT clause (starting from 1)
    - Sorting criteria are evaluated left to right
    - Default sort occurs in ascending order (ASC: default), if descending order is required specify DESC after the criterion

Example: Show an alphabetic list of product names

In [ ]:
SELECT ProductName
FROM Products
ORDER BY ProductName      -- or ORDER BY 1

Example: Show productid, name, productclassid of the products sorted by productclassid. If the class is the same products with the highest price appear first.

In [ ]:
SELECT ProductID, ProductName, CategoryID, UnitPrice
FROM Products
ORDER BY CategoryID, UnitPrice DESC

## SELECT DISTINCT / ALL

**Uniqueness of rows**
- DISTINCT filters out duplicates lines in the output
- ALL (default) shows all rows, including duplicates

Example: Show all suppliers that supply products

In [ ]:
SELECT SupplierID
FROM Products
ORDER BY SupplierID

In [ ]:
SELECT DISTINCT SupplierID
FROM Products
ORDER BY SupplierID

Exercise: Give the names of all products containing the word 'bröd' or with a name of 6 characters.

Exercise: Show the productname and the reorderlevel of all products with a level between 50 and 500 (boundaries included)

## SELECT and aliases

**Column names in output**
- Default : column title = name of column in table; calculated columns are unnamed
- The AS keyword allow you to give a column a new title  
Remark: the new column name can only be used in ORDER BY (not in WHERE, HAVING, GROUP BY)

Example: Select ProductID, ProductName of the products:

In [ ]:
SELECT ProductID AS ProductNummer, ProductName AS 'Name Product'
FROM Products

## SELECT with calculated results
**Calculated result columns**
- Arithmetic operators : +, -, /, *

Example: Give name and inventory value of the products

In [ ]:
SELECT ProductName, UnitPrice * UnitsInStock  AS InventoryValue
FROM Products

## SELECT and use of functions
**Functions**
- String functions: left, right, len, ltrim, rtrim, substring, replace, ...
- DateTime functions: DateAdd, DateDiff, DatePart, Day, Month, Year  GETDATE(): returns current date and time in 
- DATETIME format specified by MS-SQL Server.
- Arithmetic functions: round, floor, ceiling, cos, sin, ...
- Aggregate functions: AVG, SUM, ...
- ISNULL: replaces NULL values with specified value
- Reference document: http://msdn.microsoft.com/en-us/library/ms174318.aspx

In [ ]:
SELECT ISNULL(UnitPrice, 10.00) 
FROM Products

## SELECT and data type conversion
**Implicit conversions**
- Sometimes possible
- Example: UnitsInStock * 0.5  
UnitInStock (int) is automatically converted to decimal

**Explicit conversions**
- CAST (\<value expression\> AS \<data type\>)
- Example: PRINT CAST(-25.25 AS INTEGER) -> -25
- CONVERT (\<data type, \<expression\> [, \<style\>])
- FORMAT

In [ ]:
SELECT CONVERT(VARCHAR, getdate(), 106) As Today

In [ ]:
SELECT * 
FROM Orders
WHERE FORMAT(ShippedDate,'dd/MM/yyyy')='10/07/2020'

## String functions

- concatenate

In [ ]:
SELECT CONCAT(Address,' ',City) FROM Employees
-- Idem
SELECT Address + ' ' + City FROM Employees

- substring

In [ ]:
SELECT SUBSTRING(Address, 1, 5) FROM Employees

- left part

In [ ]:
SELECT LEFT(Address,5) FROM Employees

- right part

In [ ]:
SELECT RIGHT(Address,5) FROM Employees

- length

In [ ]:
SELECT LEN(Address) FROM Employees

- lowercase

In [ ]:
SELECT LOWER(Address) FROM Employees

- uppercase

In [ ]:
SELECT UPPER(Address) FROM Employees

- remove spaces left and right

In [ ]:
SELECT RTRIM(LTRIM(Address)) FROM Employees

## Date / time functions
- System date

In [ ]:
SELECT GETDATE()

- Add years, months, days to date

In [ ]:
SELECT DATEADD (year, 2, GETDATE())
SELECT DATEADD (month, 2, GETDATE())
SELECT DATEADD (day, 2, GETDATE())

- Number of years, months, days  between 2 dates

In [ ]:
SELECT DATEDIFF(day,BIRTHDATE,GETDATE()) As NumberOfDays
FROM Employees

- Day of the month

In [ ]:
SELECT DAY(GETDATE())

- Month of the year

In [ ]:
SELECT MONTH(GETDATE())

- Year

In [ ]:
SELECT YEAR(GETDATE())

- https://msdn.microsoft.com/en-us/library/ms186724.aspx

In [ ]:
SELECT GETDATE()

SELECT GETUTCDATE()

SELECT SYSDATETIME()

SELECT SYSDATETIMEOFFSET()

## Arithmetic functions
- Absolute value

In [ ]:
SELECT ABS(-10) -- 10

- Round to give number of decimals

In [ ]:
SELECT ROUND(10.75, 1)  -- 10.8

- Largest integer thas is lower

In [ ]:
SELECT FLOOR(10.75)   -- 10

- Smallest integer that is higher

In [ ]:
SELECT CEILING(10.75) -- 11

## CASE
**Simple CASE expression**

In [ ]:
SELECT City, Region, 
CASE region 
  WHEN 'OR' THEN 'West'
  WHEN 'MI' THEN 'North'
  ELSE 'Elsewhere'
END As RegionElaborated
FROM Suppliers

**Searched CASE expression**

In [ ]:
SELECT CONVERT(varchar(20), ProductName) As 'Shortened ProductName',
   CASE 
      WHEN UnitPrice IS NULL THEN 'Not yet priced'      
      WHEN UnitPrice < 10 THEN 'Very Reasonable Price'
      WHEN UnitPrice >= 10 and UnitPrice < 20 THEN 'Affordable'
      ELSE 'Expensive!'
   END AS 'Price Category'
FROM Products
ORDER BY UnitPrice

## SELECT and strings
- String operator: concatenate

In [ ]:
SELECT STR(ProductID) + ',' + ProductName AS Product
FROM Products

- Use of literal text (literals)

In [ ]:
SELECT ProductName, '$' As Currency, Unitprice
FROM Products

# GROUP BY and statististical functions
## Statistical functions (aka aggregate functions)
SQL has 5 standard functions
- SUM(expression): sum
- AVG(expression): average
- MIN(expression): minimum
- MAX(expression): maximum
- COUNT(*|[DISTINCT] column name): count

These functions give one answer per column (or group: see further) and can never be used in a where-clause

**SUM** 
- Returns the sum of all (numeric) values in a column
- Can only be used with numeric columns

Example: Give the total stock value

In [ ]:
SELECT SUM(UnitsInStock * UnitPrice) as InventoryValue
FROM Products

**AVG**
- Returns the average of NOT NULL numeric values in a columns
- Can only be used with numeric columns

Example: What is the average number of products in stock?

In [ ]:
SELECT AVG(UnitsInStock) AS AverageStock 
FROM Products

**COUNT**
- Returns the number of rows, or a number of NOT NULL values in a column
    - COUNT(*) – counts the number of rows in a SELECT  
    Example: count the number of products (= all rows)
    - COUNT (column name) – counts the number of not empty fields in a column  
    Example: count the number of NOT NULL values in column CategoryID
    - COUNT(DISTINCT column name) - count the number of different NOT NULL values in column producttypeid  
    Example: count the number of different NOT NULL values in column CategoryID

In [ ]:
SELECT COUNT(*) as NumberOfProducts
FROM Products
-- vs
SELECT COUNT(CategoryID) as NumberOfCategoryID
FROM Products
-- vs
SELECT COUNT(DISTINCT CategoryID) as NumberOfCategoryID
FROM Products

## MIN and MAX
- Returns the smallest and largest value in a column
- Applicable for both numeric, alphanumeric and datetime fields

Example: What is the cheapest and most expensive unit price?

In [ ]:
SELECT MIN(UnitPrice) AS Minimum, MAX(UnitPrice) AS Maximum 
FROM Products

**Remark**
- Since a statistical function returns only 1 result, either all expressions in the SELECT clause have to contain a statistical function, or none!  
This is slightly different if you use group by (see further). 
- Statistical functions do not take into account NULL values.  
Exception : COUNT(*) also counts rows with NULL values.
- Some statistical functions only exists in MS Transact-SQL
    - STDEV: standard deviation of column values
    - VAR: variance of column values
    - TOP

Example: Select the top 5 of the cheapest (most expensive) products

In [ ]:
SELECT TOP 5 ProductID, UnitPrice
FROM Products
ORDER BY UnitPrice
-- vs
SELECT TOP 5 ProductID, UnitPrice
FROM Products
ORDER BY UnitPrice DESC

## Grouping with GROUP BY
**Grouping – Statistical functions per group.**
GROUP BY clause: 
- The table is divided into groups of rows with common characteristics.
- Per group one unique row!
- For each group statistical functions can be applied. 
- The column names (or grouping criteria) mentioned in the GROUP BY clause can also appear in the SELECT clause

Example: Show the number of products per category

In [ ]:
SELECT CategoryID, COUNT(ProductID) As NumberOfProductsPerCategory
FROM Products
GROUP BY CategoryID

Example: Show per category the number of products with UnitPrice > 15

In [ ]:
SELECT CategoryID, COUNT(ProductID) As NumberOfProductsPerCategory
FROM Products
WHERE UnitPrice > 15
GROUP BY CategoryID

**HAVING clause**
- Select or reject groups based on group characteristics

Example: Show the categories that contain more than 10 products

In [ ]:
SELECT CategoryID, COUNT(ProductID) As NumberOfProductsPerCategory
FROM Products
GROUP BY CategoryID
HAVING COUNT(ProductID) > 10

Example: Show the categories that contain more than 10 products with UnitPrice > 15

In [ ]:
SELECT CategoryID, COUNT(ProductID) As NumberOfProductsPerCategory
FROM Products
WHERE UnitPrice > 10
GROUP BY CategoryID
HAVING COUNT(ProductID) > 10

## WHERE vs HAVING
**Remarks**
- WHERE vs HAVING
    - WHERE – works on individual rows
    - HAVING – works on groups / conditions on aggregation functions
- Statistical functions can only be used in SELECT, HAVING, ORDER BY - not in WHERE, GROUP BY
- If statistical functions appear in the SELECT, then all items in the SELECT-list have to be either statistical functions or group identifications

In [ ]:
SELECT CategoryID, MIN(UnitPrice) As Minimum
FROM Products

## Exercises

- Count the amount of products (columnname 'amount of products'), AND the amount of products in stock (= unitsinstock not empty) (columnname 'Units in stock')
- How many employees have a function of Sales Representative?
- Give the date of birth of the youngest employee and the oldest.
- What’s the number of employees who will retire (at 65) within the first 30 years?
- Show a list of different countries where 2 of more suppliers are from.  
Order alphabeticaly.
- Which suppliers offer at least 10 products with a price less then 100 dollar?  
Show supplierId and the number of different products.  
The supplier with the highest number of products comes first.

# Working with more than one table: JOIN

_Q: Why do front-end developers eat lunch alone?  
A: They don’t know how to join tables._

![AnSQLQueryWalksIntoABar](images/AnSQLQueryWalksIntoABar.JPG)

## Consult more than 1 table
- JOIN
    - Inner join
    - Outer join
    - Cross join
- UNION
- Subquery's
    - Simple nested query's
    - Correlated subquery's
    - Operator EXISTS
- Set Operators
- Common Table Expressions

## JOIN
Select columns from several tables
- JOIN keyword : specifies which tables have to be joined and how
    - Inner join
    - Outer join
    - Cross join
    - ON keyword : specifies the JOIN condition
- Produces 1 result set, joining the rows of both tables
- Basic form (ANSI JOIN (SQL-92) <-> Old style join)
```sql
SELECT expression
FROM table1 JOIN table2 ON condition
           [JOIN table2 ON condition...]
```
```sql
SELECT expression
FROM table1, table2 [, table3...]
WHERE condition(s)
```

## INNER JOIN
- Joins rows from one table with rows from another table based on common criteria in the corresponding tables. 
- The relation between the fields in the corresponding tables is expressed through: 
    - = (equi-join)
    - \<
    - \>
    - <>
    - \>=
    - <=  

Example: Give the categoryname of each product

In [ ]:
-- ANSI JOIN (SQL-92)
SELECT ProductID, ProductName, CategoryName
FROM Products JOIN Categories
ON Products.CategoryID = Categories.CategoryID

-- OLD Style JOIN
SELECT ProductID, ProductName, CategoryName
FROM Products, Categories
WHERE Products.CategoryID = Categories.CategoryID

USE tables aliasses (via 'AS' or blank)

In [ ]:
-- ANSI JOIN (SQL-92)
SELECT ProductID, ProductName, CategoryName
FROM Products p JOIN Categories c
ON p.CategoryID = c.CategoryID

-- OLD Style JOIN
SELECT ProductID, ProductName, CategoryName
FROM Products p, Categories c
WHERE p.CategoryID = c.CategoryID

**Remarks**
- If the same column name is used in several tables in a query, then each column name has to be preceeded by the table name or its alias. 
- Inner joins only return rows that meet the ON condition. 
- If you omit (forget) the where clause in the old style join all combinations are returned  
= CROSS JOIN (= carthesian product) (see further)

JOIN of more than 2 tables  
Example: Give for each product the ProductName, the CategoryName and the CompanyName of the supplier

In [ ]:
-- ANSI JOIN (SQL-92)
SELECT p.ProductID, p.ProductName, c.CategoryName, s.CompanyName
FROM Products p JOIN Categories c ON p.CategoryID = c.CategoryID
JOIN Suppliers s ON p.SupplierID = s.SupplierID

-- OLD Style JOIN
SELECT p.ProductID, p.ProductName, c.CategoryName, s.CompanyName
FROM Products p, Categories c, Suppliers s
WHERE p.CategoryID = c.CategoryID AND p.SupplierID = s.SupplierID

Example: Show all employees and the name of whom they have to report to

In [ ]:
SELECT e1.EmployeeID, e1.Firstname + ' ' + e1.LastName As Employee,
e2.Firstname + ' ' + e2.LastName As ReportsTo
FROM Employees e1 JOIN Employees e2
ON e1.ReportsTo = e2.EmployeeID

## OUTER JOIN
- Returns all records from 1 table, even if there is no corresponding record in the other table
- 3 types of an outer join
    - LEFT OUTER JOIN: Returns all rows of the first table in the FROM clause(SQL-92)
    - RIGHT OUTER JOIN: Returns all rows of the second table in the FROM clause(SQL-92)
    - FULL OUTER JOIN: Returns all rows of the first and the second table in the FROM clause(SQL-92) even if there is no corresponding record in the other table

![join-types](images/join-types.png)

Example: Show the number of shippings per Shipper

In [ ]:
SELECT s.ShipperID, s.CompanyName, COUNT(OrderID) As NumberOfShippings
FROM Shippers s JOIN Orders o
ON s.shipperID = o.shipVia
GROUP BY s.ShipperID, s.CompanyName
-- vs
SELECT s.ShipperID, s.CompanyName, COUNT(OrderID) As NumberOfShippings
FROM Shippers s LEFT JOIN Orders o
ON s.shipperID = o.shipVia
GROUP BY s.ShipperID, s.CompanyName

Example: Give the employees to whom no one reports

In [ ]:
SELECT e1.Firstname + ' ' + e1.LastName As Employee,
e2.Firstname + ' ' + e2.LastName As ReportsTo
FROM Employees e1 RIGHT JOIN Employees e2
ON e1.ReportsTo = e2.EmployeeID
WHERE e1.Firstname + ' ' + e1.LastName IS NULL

## FULL OUTER JOIN

- FULL OUTER JOIN is the combination(=UNION) of LEFT and RIGHT OUTER JOIN

In [ ]:
SELECT o.OrderID, s.ShipperID, s.CompanyName
FROM Shippers s FULL OUTER JOIN Orders o
ON s.shipperID = o.shipVia

## CROSS JOIN
- In a cross join the number of rows in the result set equals the number of rows in the first table multiplied by the number of rows in the second table
- Application: generate all combinations

Example. Make a schedule in which each employee should contact each customer

In [ ]:
SELECT e.EmployeeID, e.FirstName + ' ' + e.LastName, e.Title, 
c.CompanyName, c.ContactName, c.ContactTitle, c.Phone
FROM Employees e CROSS JOIN Customers c

# SET OPERATORS: UNION - INTERSECT - EXCEPT

## UNION
**A UNION combines the result of 2 or more queries**
- Basic form
```sql
SELECT ...  FROM ... WHERE ...
UNION
SELECT ...  FROM ... WHERE ...
ORDER BY ...
```
- Rules
    - Both SELECTs have to contain an equal number of columns
    - Corresponding columns from both SELECTs should have compatible data types
    - The columns names or aliases from the first SELECT or shown
    - The result set does not contain duplicates. To keep duplicates use UNION ALL
    - At the end an ORDER BY can be added. Column names or expressions can't be used in the ORDER BY if they differ between the two SELECTs. In this case use column numbers for sorting.

Example: give an overview of all employees (lastname and firstname, city and postal code) and all customers (name, city and postal code)

In [ ]:
SELECT LastName  + ' ' + FirstName as Name, City, Postalcode
FROM Employees
UNION
SELECT CompanyName, City, Postalcode
FROM Customers

## INTERSECT
Example: Which records are in the intersection?

In [ ]:
SELECT City, Country FROM Customers
INTERSECT 
SELECT City, Country FROM Suppliers

## EXCEPT
The EXCEPT operator subtracts a result set from another result set.

Example: which products have never been ordered?

In [ ]:
SELECT ProductID 
FROM Products
EXCEPT 
SELECT ProductID 
FROM OrderDetails

## Exercises
- Which suppliers (SupplierID and CompanyName) deliver Dairy Products? 
- Give for each supplier the number of orders that contain products of that supplier.  
Show supplierID, supplier name and the number of orders.  
Order by supplier name. 
- What’s for each category the lowest UnitPrice?  
Show category name and unit price. 
- Give for each ordered productId: productname, the least and the most quantity ordered. Order by productname. 
- Give a summary for each employee with orderID, employeeID and employeeName.   
Make sure that the list also contains employees who don’t have orders yet.